*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
i{
    font-size: 4rem;
}
.headline{
    font-size: 2.5rem;
    text-align: center;
}
.displayName{
    font-size: 1.5rem;
   
}
.emailStyle{
    font-size: 0.9em;
    text-decoration: underline;
}
.error{
    font-size: 0.7rem;
} 
.button-color{
    background-color: green;
}
